

<div class="main-box">
    <span class="profile">
       <img src="selfie.png" alt="Selfie" style="width: 100%; height: auto;">
    </span>
    <span class="mt-1">
        <H3>Syed Shaheer Ali</H3>
          <h5>Software | Ai Engineer</h5>
          <!-- @for (role of roles; track role){ -->
            <!-- <h1>{{ currentRole }}</h1> -->
          <!-- } -->
        <p>Building intelligent systems that connect AI and full-stack development.</p>
        
        
        
<div class="container mt-3 mb-3">
  <div class="row ">
       <!-- Download CV -->
    <!-- <div class="col-auto mt-2">
      <a href="Syed Shaheer Ali_ CV_Online.pdf" download class="btn btn-light btn-sm mx-3">
        <i class="fas fa-file-download"></i> Download CV
      </a>
    </div> -->

    <div class="col-auto mt-3">
      <a href="https://github.com/SyedShaheerA" target="_blank" class="text-white mx-3 social-icon">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </div>
    <div class="col-auto mt-3">
      <a href="https://www.linkedin.com/in/syed-shaheer-ali-4762a8246/" target="_blank" class="text-white mx-3 social-icon">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
    </div>
   
  </div>
</div>




    </span>
</div>

