.main-box{
    background-color: rgb(50, 48, 48); color: white;
      display: flex;          /* puts children side by side */
  align-items: center;    /* vertically center them */

}

.profile{
    max-width: 40%;
}


  .social-icon i {
    transition: transform 0.3s;
  }

  .social-icon:hover i {
    transform: scale(1.3);
  }
